---
import { actions } from "astro:actions";
import AdminLayout from "../../../../layouts/AdminLayout.astro";
import { GrammarPointForm } from "~/features/grammar-point/GrammarPointForm";
import { ExercisesForm } from "~/features/exercise/create/ExercisesForm";

const { id } = Astro.params;

if (!id || isNaN(Number(id))) {
  return Astro.redirect("/admin/grammar");
}

const { data: grammarPoint } = await Astro.callAction(
  actions.getGrammarPointById,
  {
    id: Number(id),
  },
);

if (!grammarPoint) {
  return Astro.redirect("/admin/grammar");
}

const updateResult = Astro.getActionResult(actions.updateGrammarPoint);

const grammarPointExercises = await Astro.callAction(
  actions.getExercisesByGrammarPointId,
  {
    grammarPointId: grammarPoint.id,
  },
);
---

<AdminLayout title={`Edit: ${grammarPoint.shortTitle}`} back="../grammar">
  <form action={actions.updateGrammarPoint} method="post">
    <GrammarPointForm
      client:load
      success={!!updateResult?.data}
      error={updateResult?.error?.message}
      initialData={{
        id: grammarPoint.id,
        shortTitle: grammarPoint.shortTitle,
        order: grammarPoint.order,
        structure: grammarPoint.structure ?? undefined,
        detailedTitle: grammarPoint.detailedTitle ?? undefined,
        englishTitle: grammarPoint.englishTitle ?? undefined,
        torfl: grammarPoint.torfl ?? undefined,
        explanation: grammarPoint.explanation ?? undefined,
      }}
    />
  </form>

  <div class="space-y-4 pt-5">
    <div>
      <h2 class="text-2xl font-semibold mb-4">
        Exercises ({grammarPoint.exercises.length})
      </h2>
      <p class="text-sm text-slate-500">
        All changes are not visible to users until you push "Save exercises".
      </p>
    </div>
    <ExercisesForm
      defaultExercises={grammarPointExercises.data}
      grammarPointId={grammarPoint.id}
      client:only="solid-js"
    />
  </div>
</AdminLayout>
