---
import { Badge } from "ui/badge";
import { cn } from "ui/utils";
export type Props = {
  title: string;
  description: string;
  href: string;
  color: string;
  count: number;
  "data-tour"?: string;
};

const {
  title,
  description,
  href,
  color,
  count,
  "data-tour": dataTour,
} = Astro.props;
---

<a
  class={cn(
    "rounded-md bg-primary text-secondary-content cursor-pointer",
    color,
  )}
  href={href}
  data-tour={dataTour}
>
  <div class="p-5 text-white">
    <div class="flex flex-row justify-between">
      <h2 class="text-5xl">{title}</h2>
      <Badge variant="light">{count}</Badge>
    </div>
    <p>{description}</p>
  </div>
</a>
