---
import { GrammarPoint } from "@components/solid/grammar-point/GrammarPoint";
import { fetchGrammarPoint } from "grammar-sdk";
import { Anchor } from "ui/anchor";
import Layout from "../../../layouts/Layout.astro";
import { GET as fetchGpInReview } from "@api/sr/review/list";
import { AddToReviewButton } from "@components/solid/grammar-point/AddToReviewButton";
import { Button } from "packages/ui/button";

const { id } = Astro.params;
const backTo = Astro.url.searchParams.get("backTo") ?? undefined;

const grammarPoint = id ? await fetchGrammarPoint(id) : undefined;
const inReview = id
  ? ((
      (await (await fetchGpInReview(Astro)).json()) ?? ([] as string[])
    )?.includes?.(id) ?? false)
  : false;
---

<Layout title="Grammar">
  {
    grammarPoint && (
      <>
        <GrammarPoint
          backTo={backTo}
          client:visible
          inReview={inReview}
          {...grammarPoint}
        />
        <section class="flex flex-row gap-5 justify-center items-center mt-5">
          <Anchor href={`/grammar/${id}/practice`}>
            <Button>Practice once</Button>
          </Anchor>
          <AddToReviewButton
            client:load
            id={grammarPoint.id}
            inReview={inReview}
          />
        </section>
      </>
    )
  }
</Layout>
