---
import { GET as fetchGpInReview } from "@api/sr/review/list";
import { GrammarPoint } from "@components/solid/grammar-point/GrammarPoint";
import { ReviewToggleButton } from "@components/solid/grammar-point/ReviewToggleButton";
import { fetchGrammarPoint } from "grammar-sdk";
import { Button } from "packages/ui/button";
import { Anchor } from "ui/anchor";
import Layout from "../../../layouts/Layout.astro";

const { id } = Astro.params;
const backTo = Astro.url.searchParams.get("backTo") ?? undefined;

const grammarPoint = id ? await fetchGrammarPoint(id) : undefined;
const inReview = id
  ? ((
      (await (await fetchGpInReview(Astro)).json()) ?? ([] as string[])
    )?.includes?.(id) ?? false)
  : false;
const user = Astro.locals.user;
---

<Layout title="Grammar">
  {
    grammarPoint && (
      <>
        <GrammarPoint
          backTo={backTo}
          client:visible
          inReview={inReview}
          {...grammarPoint}
        />
        <section class="flex flex-row gap-5 justify-center items-center mt-5">
          <Anchor href={`/grammar/${id}/practice`}>
            <Button>Practice once</Button>
          </Anchor>
          {user && (
            <ReviewToggleButton
              client:load
              id={grammarPoint.id}
              inReview={inReview}
            />
          )}
        </section>
      </>
    )
  }
</Layout>
