---
import { Button } from "packages/ui/button";
import Layout from "./Layout.astro";
import { IoArrowBackOutline } from "solid-icons/io";
interface Props {
  title: string;
  description?: string;
  action?: {
    label: string;
    href: string;
  };
  back?: string;
}

const { title, description, action, back } = Astro.props;
---

<Layout title={`Admin - ${title}`}>
  <div class="flex gap-4 min-h-screen">
    <main class="flex-1 p-8 space-y-8">
      <div>
        <div class="flex flex-row justify-between">
          <div class="flex flex-row gap-4">
            {
              back && (
                <a href={back} class="text-primary">
                  <IoArrowBackOutline size={40} />
                </a>
              )
            }
            <h1 class="text-4xl font-bold mb-2">{title}</h1>
          </div>

          {
            action && (
              <a href={action.href}>
                <Button class="mt-4">{action.label}</Button>
              </a>
            )
          }
        </div>
        {description && <p class="text-slate-600">{description}</p>}
      </div>
      <slot />
    </main>
  </div>
</Layout>
